################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UnoTalksNetCore/.vs/UnoTalksNetCore/DesignTimeBuild/.dtbcache.v2
/UnoTalksNetCore/SeleniumFramework/bin/Debug/netcoreapp3.1/SeleniumFramework.pdb
/UnoTalksNetCore/SeleniumFramework/bin/Debug/netcoreapp3.1/SeleniumFramework.dll
/UnoTalksNetCore/SeleniumFramework/bin/Debug/netcoreapp3.1/SeleniumFramework.deps.json
/UnoTalksNetCore/SeleniumFramework/bin/Debug/netcoreapp3.1/chromedriver.exe
/UnoTalksNetCore/SeleniumFramework/bin/Debug/netcoreapp3.1
#/UnoTalksNetCore/SeleniumFramework
/UnoTalksNetCore/.vs/UnoTalksNetCore/v16/TestStore/0/testlog.manifest
/UnoTalksNetCore/.vs/UnoTalksNetCore/v16/TestStore/0/000.testlog
/UnoTalksNetCore/.vs/UnoTalksNetCore/v16/.suo
/UnoTalksNetCore/TestCases/bin/Debug/netcoreapp3.1
/UnoTalksNetCore/TestCases/obj/Debug/netcoreapp3.1
/UnoTalksNetCore/TestCases/obj
/UnoTalksNetCore/SeleniumFramework/obj
/UnoTalksNetCore/CoreFramework/obj/Debug/netcoreapp3.1
/UnoTalksNetCore/CoreFramework/obj
/UnoTalksNetCore/CoreFramework/bin/Debug/netcoreapp3.1
/UnoTalksNetCore/.vs/UnoTalksNetCore/v17/.futdcache.v1
