################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UnoTalksNetCore/.vs/UnoTalksNetCore/DesignTimeBuild/.dtbcache.v2
/UnoTalksNetCore/SeleniumFramework/bin/Debug/netcoreapp3.1/SeleniumFramework.pdb
/UnoTalksNetCore/SeleniumFramework/bin/Debug/netcoreapp3.1/SeleniumFramework.dll
/UnoTalksNetCore/SeleniumFramework/bin/Debug/netcoreapp3.1/SeleniumFramework.deps.json
/UnoTalksNetCore/SeleniumFramework/bin/Debug/netcoreapp3.1/chromedriver.exe
/UnoTalksNetCore/SeleniumFramework/bin/Debug/netcoreapp3.1
/UnoTalksNetCore/.vs/UnoTalksNetCore/v16/TestStore/0/testlog.manifest
/UnoTalksNetCore/.vs/UnoTalksNetCore/v16/TestStore/0/000.testlog
/UnoTalksNetCore/.vs/UnoTalksNetCore/v16/.suo
/UnoTalksNetCore/TestCases/bin/Debug/netcoreapp3.1
/UnoTalksNetCore/TestCases/obj/Debug/netcoreapp3.1
/UnoTalksNetCore/TestCases/obj
UnoTalksNetCore/SeleniumFramework/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
UnoTalksNetCore/SeleniumFramework/obj/Debug/netcoreapp3.1/SeleniumFramework.AssemblyInfo.cs
UnoTalksNetCore/SeleniumFramework/obj/Debug/netcoreapp3.1/SeleniumFramework.AssemblyInfoInputs.cache
UnoTalksNetCore/SeleniumFramework/obj/Debug/netcoreapp3.1/SeleniumFramework.assets.cache
UnoTalksNetCore/SeleniumFramework/obj/Debug/netcoreapp3.1/SeleniumFramework.csproj.CoreCompileInputs.cache
UnoTalksNetCore/SeleniumFramework/obj/Debug/netcoreapp3.1/SeleniumFramework.csproj.FileListAbsolute.txt
UnoTalksNetCore/SeleniumFramework/obj/Debug/netcoreapp3.1/SeleniumFramework.csprojAssemblyReference.cache
UnoTalksNetCore/SeleniumFramework/obj/Debug/netcoreapp3.1/SeleniumFramework.dll
UnoTalksNetCore/SeleniumFramework/obj/Debug/netcoreapp3.1/SeleniumFramework.pdb
UnoTalksNetCore/SeleniumFramework/obj/project.assets.json
UnoTalksNetCore/SeleniumFramework/obj/project.nuget.cache
UnoTalksNetCore/SeleniumFramework/obj/SeleniumFramework.csproj.nuget.dgspec.json
UnoTalksNetCore/SeleniumFramework/obj/SeleniumFramework.csproj.nuget.g.props
UnoTalksNetCore/SeleniumFramework/obj/SeleniumFramework.csproj.nuget.g.targets
