################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UnoTalksNetCore/.vs/UnoTalksNetCore/DesignTimeBuild/.dtbcache.v2
